<div class="sidebar" [ngClass]="{ close: isSidebarClosed }">
  <div class="logo-details">
    <!-- <i class="bx bxl-c-plus-plus"></i> -->
    <img
      class="logo" [ngClass]="{ 'full-img': isSidebarClosed }"
      [src]="
        isSidebarClosed
          ? '../assets/images/Logo-Mark-SVG.svg'
          : '../assets/images/Green-Black-Logo.svg'
      "
    />
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
    </li>

    <li>
      <a class="link_name" href="#"
        ><i class="bx bx-grid-alt"></i>
        <span class="link_name">Category</span></a
      >
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class="bx bx-menu" (click)="toggleSideBar()"></i>
    <span class="text">Drop Down Sidebar</span>
  </div>
</section>
