<div class="card rounded-0 border-0">
  <div class="card-head">
    <div class="d-flex exams justify-content-between align-items-center p-3">
      <div class="title fs-5 fw-bold">Create Exam</div>
    </div>
  </div>

  <hr class="p-0 m-0" />
  <div class="card-body z-0">
    <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="input-container">
            <div class="col3 w-100">
              <label for="title">Exam Name</label>
              <input
                id="title"
                class="effect w-100"
                type="text"
                placeholder="Exam Name"
                formControlName="title"
              />
              <span class="focus-bg"></span>
            </div>
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
              <small *ngIf="title?.errors?.['required']" class="text-danger"
                >*Exam name is required.</small
              >
              <small *ngIf="title?.errors?.['maxlength']" class="text-danger"
                >*Exam Name Must Not Be Greater Than 100 Characters</small
              >
            </div>
          </div>

          <div class="input-container">
            <div class="col3 w-100">
              <label for="examTime">Exam Time</label>
              <input
                id="examTime"
                class="effect w-100"
                type="text"
                placeholder="Exam Time"
                formControlName="examTime"
              />
              <span class="focus-bg"></span>
            </div>
            <div
              *ngIf="
                examTime?.invalid && (examTime?.dirty || examTime?.touched)
              "
            >
              <small *ngIf="examTime?.errors?.['required']" class="text-danger"
                >*Exam time is required.</small
              >
            </div>
          </div>

          <div class="input-container">
            <label for="categories">Question Category </label>
            <select
              multiple
              class="effect w-100 rounded-1"
              id="categories"
              name="categories"
              formControlName="categories"
              (ngModelChange)="handleCategoryChange($event)"
            >
              <option selected hidden disabled>Select Question Category</option>
              <option
                *ngFor="let category of categoryList"
                [ngValue]="category.id"
              >
                {{ category.title }}
              </option>
            </select>
            <div
              *ngIf="
                categories?.invalid &&
                (categories?.dirty || categories?.touched)
              "
            >
              <small
                *ngIf="categories?.errors?.['required']"
                class="text-danger"
                >*Exam category is required.</small
              >
            </div>
          </div>

          <div class="input-container">
            <div class="col3 w-100">
              <label for="totalQuestions">Total Questions</label>
              <input
                id="totalQuestions"
                name="totalQuestion"
                class="effect w-100"
                type="text"
                placeholder="Total Questions"
                formControlName="totalQuestions"
              />
              <span class="focus-bg"></span>
            </div>
            <div
              *ngIf="
                totalQuestions?.invalid &&
                (totalQuestions?.dirty || totalQuestions?.touched)
              "
            >
              <small
                *ngIf="totalQuestions?.errors?.['required']"
                class="text-danger"
                >*This field is required.</small
              >
            </div>
          </div>

          <div class="input-container">
            <div class="col3 w-100">
              <label for="maxMarks">Max Marks</label>
              <input
                id="maxMarks"
                name="totalQuestion"
                class="effect w-100"
                type="text"
                placeholder="Max Marks"
                formControlName="maxMarks"
              />
              <span class="focus-bg"></span>
            </div>
            <div
              *ngIf="
                totalQuestions?.invalid &&
                (maxMarks?.dirty || maxMarks?.touched)
              "
            >
              <small *ngIf="maxMarks?.errors?.['required']" class="text-danger"
                >*This field is required.</small
              >
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="input-container">
            <div class="col3 w-100">
              <label for="description">Instructions</label>
              <textarea
                id="description"
                class="effect w-100 rounded-1"
                type="text"
                placeholder="Instructions"
                rows="17"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end gap-2 my-3">
        <button class="btn btn-success rounded-0 px-4" type="submit">
          Create
        </button>
        <button class="btn btn-danger rounded-0 px-4" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
