<div class="card rounded-0 border-0">
  <div class="card-head">
    <div class="d-flex exams justify-content-between align-items-center p-3">
      <div class="title fs-5 fw-bold">Create Exam</div>
    </div>
  </div>

  <hr class="p-0 m-0" />
  <div class="card-body z-0">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="name py-2">
            <label class="fw-semibold py-2" for="title">Exam Name </label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="title"
              placeholder="Exam Name"
            />
          </div>
          <div class="examTime py-2">
            <label class="fw-semibold py-2" for="examTime">Exam Time </label>
            <input
              class="form-control"
              type="text"
              id="examTime"
              name="examTime"
              placeholder="Exam Time"
            />
          </div>
          <div class="categories py-2">
            <label class="fw-semibold py-2" for="categories"
              >Question Category
            </label>
            <select class="form-select" id="categories" name="categories">
              <option selected hidden disabled>Select Question Category</option>
              <option
                *ngFor="let category of categoryList"
                value="{{ category.id }}"
              >
                {{ category.title }}
              </option>
            </select>
          </div>

          <div class="totalQuestions py-2">
            <label class="fw-semibold py-2" for="totalQuestions"
              >Total Questions
            </label>
            <input
              class="form-control"
              type="text"
              id="totalQuestions"
              name="totalQuestions"
              placeholder="Total Questions"
            />
          </div>
        </div>
        <div class="col-6">
          <div>
            <label for="">Instructions</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
