<section>
  <div class="container">
    <div class="d-flex w-100">
      <div class="image">
        <img src="../../../assets/images/signup-img.jpg" alt="" srcset="" class="w-100">
      </div>
      <form action="" class="w-100">
        <div class="d-flex flex-column w-100">
          <div class="w-100">
            <div class="col3 w-100">
              <input
                class="effect-11 w-100"
                type="text"
                placeholder="Placeholder Text"
              />
              <span class="focus-bg"></span>
            </div>
          </div>
          <div>
            <div class="col3 w-100">
              <input
                class="effect-11 w-100"
                type="text"
                placeholder="Placeholder Text"
              />
              <span class="focus-bg"></span>
            </div>
          </div>
          <div>
            <div class="col3 w-100">
              <input
                class="effect-11 w-100"
                type="text"
                placeholder="Placeholder Text"
              />
              <span class="focus-bg"></span>
            </div>
          </div>
          <div>
            <div class="col3 w-100">
              <input
                class="effect-11 w-100"
                type="text"
                placeholder="Placeholder Text"
              />
              <span class="focus-bg"></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
