<div
  class="sidenav position-fixed z-1 top-0"
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
>
  <div
    class="logo-container d-flex justify-content-center align-items-center bg-body border-end"
  >
    <img
      src="../../../../assets/images/Logo-Mark-SVG.svg"
      class="logo p-2"
      *ngIf="!collapsed"
    />
    <img
      src="../../../../assets/images/Green-Black-Logo.svg"
      class="logo-collapsed p-4"
      *ngIf="collapsed"
    />
  </div>
  <ul
    class="sidenav-nav p-0 m-0 list-unstyled d-flex flex-column align-items-center"
  >
    <li class="sidenav-nav-item w-100" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link d-flex align-items-center text-decoration-none"
        [routerLink]="[data.routerLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon text-center d-flex justify-content-center " [class]="data.icon"></i>
        <span
          class="sidenav-link-text text-light opacity-75 ms-3"
          *ngIf="collapsed"
          >{{ data.label }}</span
        >
      </a>
    </li>
  </ul>
</div>

<div
  class="main-body-wrap px-5"
  [ngClass]="collapsed ? 'main-body-wrap-collapsed' : ''"
>
  <header
    class="header d-flex align-items-center position-fixed top-0 end-0 bg-light"
    [ngClass]="collapsed ? 'full-header' : ''"
  >
    <!-- <ul class="header-menu"> -->
    <button
      class="btn-closed d-flex justify-content-center align-items-center ms-5 bg-transparent"
      (click)="toggleCollapse()"
    >
      <i class="bi bi-list-nested text-black fs-4"></i>
    </button>

    <!-- <li class="header-user">
        <a>
          <span><i nz-icon nzType="user" nzTheme="outline"></i></span>
          Viren
           {{ loginUserName | titlecase }} 
        </a>
      </li>
       <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul class="header-dropdown" nz-menu nzSelectable>
                  <li class="log-out" nz-menu-item *ngIf="isAuth" (click)="onLogout()">
                      <span><span nz-icon nzType="logout" nzTheme="outline"></span></span>Log Out
                  </li>
              </ul>
          </nz-dropdown-menu> 
    </ul>   -->
  </header>
  <main class="main-body py-5">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">©2022 Exam Portal | All rights reserved</footer>
</div>
