<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container d-flex justify-content-center align-items-center">
    <!-- <button *ngIf="!collapsed" class="logo">V</button> -->
    <!-- <div> -->
      <img
        style="width: 4rem"
        src="../../../../assets/images/Logo-Mark-SVG.svg"
        class=""
        *ngIf="!collapsed"
      />
    <!-- </div> -->
    <!-- <div> -->
      <img
        style="width: 16.5635rem"
        src="../../../../assets/images/Green-Black-Logo.svg"
        class=""
        *ngIf="collapsed"
      />
    <!-- </div> -->
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{
          data.label
        }}</span>
      </a>
    </li>
  </ul>
</div>

<div
  class="main-body-wrap px-5"
  [ngClass]="collapsed ? 'main-body-wrap-collapsed' : ''"
>
  <header
    class="header d-flex align-items-center"
    [ngClass]="collapsed ? 'full-header' : ''"
  >
    <!-- <ul class="header-menu"> -->
    <button class="btn-closed d-flex justify-content-center align-items-center" (click)="toggleCollapse()">
      <i class="bi bi-list close-icon"></i>
    </button>

    <!-- <li class="header-user">
        <a>
          <span><i nz-icon nzType="user" nzTheme="outline"></i></span>
          Viren
           {{ loginUserName | titlecase }} 
        </a>
      </li>
       <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul class="header-dropdown" nz-menu nzSelectable>
                  <li class="log-out" nz-menu-item *ngIf="isAuth" (click)="onLogout()">
                      <span><span nz-icon nzType="logout" nzTheme="outline"></span></span>Log Out
                  </li>
              </ul>
          </nz-dropdown-menu> 
    </ul>   -->
  </header>
  <main class="main-body">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">©2022 Exam Portal | All rights reserved</footer>
</div>
