.sidenav {
  background: #002f4b;
  transition: all 0.5s ease;
  width: 5rem;
  height: 100vh;
  /* box-shadow: 0.063rem 0 1.25rem 0 #8690a3; */
}
.sidenav .logo-container {
  height: 65px;
}
.sidenav .logo-container .logo {
  width: 4rem;
}

.sidenav .logo-container .logo-collapsed {
  width: 16.5635rem;
}

.main-body-wrap .header .btn-closed {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  transition: 0.5s ease;
}

.main-body-wrap .header .btn-closed:hover {
  transform: scale(110%);
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  height: calc(100% - 3.65rem);
  /* cursor: pointer; */
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  height: 3rem;
  color: #f3f3f3;
  transition: all 0.5s ease;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0 0 1rem;
}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link .sidenav-link-text {
  opacity: 1 !important;
}

.sidenav-nav .sidenav-nav-item .active {
  background-color: #0059b2;
}

.sidenav-nav .sidenav-nav-item .active .sidenav-link-text {
  opacity: 1 !important;
}

.header {
  width: calc(100% - 5rem);
  z-index: 1000;
  left: auto;
  transition: all 0.5s ease;
  height: 65px;
}

.full-header {
  width: calc(100% - 16.5625rem);
}

.main-body-wrap {
  margin-left: 5rem;
  padding-top: 65px;
  transition: all 0.5s ease;
  min-height: 100vh;
}
.main-body-wrap-collapsed {
  margin-left: 16.5625rem;
}
