<!-- <div > -->
<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="pb-4 title">
        <h2>Dashboard</h2>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#0">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Portal</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<div class="row">
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="border-left-primary icon-card mb-4">
      <div class="icon purple">
        <i class="bi bi-bag-check"></i>
      </div>
      <div class="content">
        <h6 class="mb-2">Exams</h6>
        <h3 class="mb-2 text-bold">{{ examData ? examData.length : 0 }}</h3>
        <p class="text-sm text-success">
          <i class="bi bi-arrow-up"></i> +2.00%
          <span class="text-gray text-secondary">(30 days)</span>
        </p>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="border-left-success icon-card mb-4">
      <div class="icon success">
        <i class="bi bi-currency-dollar"></i>
      </div>
      <div class="content">
        <h6 class="mb-2">Total Categories</h6>
        <h3 class="text-bold mb-2">
          {{ categoryData ? categoryData.length : 0 }}
        </h3>
        <p class="text-sm text-success">
          <i class="lni lni-arrow-up"></i> +5.45%
          <span class="text-gray">Increased</span>
        </p>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="border-left-info icon-card mb-4">
      <div class="icon primary">
        <i class="bi bi-wallet2"></i>
      </div>
      <div class="content">
        <h6 class="mb-2">Total Questions</h6>
        <h3 class="text-bold mb-2">
          {{ questionData ? questionData.length : 0 }}
        </h3>
        <p class="text-sm text-danger">
          <i class="lni lni-arrow-down"></i> -2.00%
          <span class="text-gray">Expense</span>
        </p>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="border-left-warning icon-card mb-4">
      <div class="icon orange">
        <i class="bi bi-person"></i>
      </div>
      <div class="content">
        <h6 class="mb-2">New User</h6>
        <h3 class="text-bold mb-2">345</h3>
        <p class="text-sm text-danger">
          <i class="lni lni-arrow-down"></i> -25.00%
          <span class="text-gray"> Earning</span>
        </p>
      </div>
    </div>
    <!-- End Icon Cart -->
  </div>
  <!-- End Col -->
</div>
