<div class="card rounded-0 border-0">
    <div class="card-head">
      <div
        class="d-flex categoriesjustify-content-between align-items-center p-3"
      >
        <div class="title fs-5 fw-bold">Create Category</div>
      </div>
    </div>
  
    <hr class="p-0 m-0" />
    <div class="card-body z-0">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6">
            <div class="input-container">
              <div class="col3 w-100">
                <label for="title">Category Name</label>
                <input
                  id="title"
                  class="effect w-100"
                  type="text"
                  placeholder="Category Name"
                  formControlName="title"
                />
                <span class="focus-bg"></span>
              </div>
              <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
                <small *ngIf="title?.errors?.['required']" class="text-danger"
                  >*Category name is required.</small
                >
                <small *ngIf="title?.errors?.['maxlength']" class="text-danger"
                  >*Category Name Must Not Be Greater Than 100 Characters</small
                >
              </div>
            </div>
  
            <div class="input-container">
              <div class="col3 w-100">
                <label for="description">Description</label>
                <input
                  id="description"
                  class="effect w-100"
                  type="text"
                  placeholder="Exam Time"
                  formControlName="description"
                />
                <span class="focus-bg"></span>
              </div>
              <div
                *ngIf="
                  description?.invalid &&
                  (description?.dirty || description?.touched)
                "
              >
                <small
                  *ngIf="description?.errors?.['required']"
                  class="text-danger"
                  >*Exam time is required.</small
                >
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end gap-2 my-3">
            <button class="btn btn-success rounded-0 px-4" type="submit">
              Create
            </button>
            <button class="btn btn-danger rounded-0 px-4" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  