<div class="split-screen row">
  <div class="left col d-flex justify-content-center flex-column"></div>

  <div class="container right d-flex justify-content-center flex-column">
    <div
      class="sub-container d-flex justify-content-center align-items-center flex-column"
    >
      <div class="logo">
        <img
          class="w-100"
          src="../../../assets/images/Green-Black-Logo.svg"
          alt=""
        />
      </div>
      <section class="copy">
        <h2 class="mt-2">Register</h2>
        <small
          >Welcome to Portal, please put your details below to start using the
          portal</small
        >
      </section>
      <form [formGroup]="registerForm" (ngSubmit)="formSubmit()">
        <div class="input-container name">
          <div class="col3 w-100">
            <label for="username">User Name</label>
            <input
              id="username"
              class="effect w-100"
              type="text"
              placeholder="Username"
              formControlName="username"
            />
            <span class="focus-bg"></span>
          </div>
          <div
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          >
            <small *ngIf="username?.errors?.['required']" class="text-danger"
              >*Username is required.</small
            >
            <small *ngIf="username?.errors?.['minlength']" class="text-danger">
              *Username must be at least 4 characters long.
            </small>
          </div>
        </div>

        <div class="input-container email">
          <div class="col3 w-100">
            <label for="email">Email ID</label>
            <input
              id="email"
              class="effect w-100"
              type="text"
              placeholder="Email ID"
              formControlName="email"
            />
            <span class="focus-bg"></span>
          </div>

          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <small *ngIf="email?.errors?.['required']" class="text-danger"
              >*Email Id is required.</small
            >
            <small *ngIf="email?.errors?.['email']" class="text-danger"
              >*Invalid Email Id</small
            >
          </div>
        </div>

        <div class="input-container password">
          <div class="col3 w-100">
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              class="effect w-100"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <span class="focus-bg"></span>
          </div>
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <small *ngIf="password?.errors?.['required']" class="text-danger"
              >*Password is required.</small
            >
          </div>
        </div>

        <div class="input-container repeat-password">
          <div class="col3 w-100">
            <label for="repeatPassword">Repeat Password</label>
            <input
              type="password"
              name="repeatPassword"
              id="repeatPassword"
              class="effect w-100"
              placeholder="Repeat Password"
              formControlName="repeatPassword"
            />
            <span class="focus-bg"></span>
          </div>
          <div
            *ngIf="
              repeatPassword?.touched &&
              registerForm.errors?.['passwordMatchError']
            "
          >
            <small class="text-danger">*Password didn't Match!.</small>
          </div>
        </div>

        <div class="input-container cta mb-2">
          <label for="tnc" class="checkbox-container">
            <input
              type="checkbox"
              class="mx-2"
              name="tnc"
              id="tnc"
              formControlName="tnc"
            />
            <span class="checkmark"></span>
            I agree to the <a href="">Terms & Conditions</a>
          </label>
          <div *ngIf="tnc?.invalid && submitted" class="mb-2">
            <small *ngIf="tnc?.errors" class="text-danger"
              >*Please accept the Terms & Condition!</small
            >
          </div>
        </div>

        <button class="register" type="submit">Register</button>

        <section class="legal text-center">
          <small>
            Already have an Account? <a [routerLink]="'/login'">Login Here</a>
          </small>
        </section>
      </form>
    </div>
  </div>
</div>
