<div class="card rounded-0 border-0">
  <div class="card-head">
    <div class="d-flex exams justify-content-between align-items-center p-3">
      <div class="title fs-5 fw-bold">Exams</div>
      <a [routerLink]="['/exam-portal/admin/exam/add']">
        <button id="addExam" class="btn btn-danger rounded-1 d-flex px-4">
          <span class="px-1 d-flex align-items-center"
            ><img
              src="../../../../assets/images/add-plus.svg"
              height="22px"
              alt="Add button"
          /></span>
          <span class="px-1 d-flex align-items-center fw-semibold">Add</span>
        </button>
      </a>
    </div>
  </div>

  <hr class="p-0 m-0" />
  <div class="card-body z-0">
    <div class="d-flex w-100 align-items-center">
      <select class="form-select w-auto" (change)="handleSizeChange($event)">
        <option *ngFor="let size of sizeArray" [ngValue]="size.value">
          {{ size.title }}
        </option>
      </select>
      <div class="input-container d-flex w-100 justify-content-end">
        <div
          class="align-items-center border col3 d-flex float-end rounded-1 mb-3"
        >
          <input
            id=""
            class="effect border-0"
            type="text"
            placeholder="Search"
            (input)="onSearch($event)"
          />
          <span class="focus-bg"></span>
          <i class="bi bi-search text-light bi bi-search px-3 py-2"></i>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">
              <span class="ms-3 d-flex justify-content-between">
                <span
                  class="fw-medium"
                  role="button"
                  id="title"
                  (click)="handleSort($event)"
                >
                  <span> Name </span>
                  <span>
                    <img
                      height="14px"
                      src="../../../../assets/images/sort.png"
                      alt=""
                      class="px-1"
                      [ngClass]="
                        getExamData.sortField == 'title' && sort != 3
                          ? sort == 1
                            ? 'rotate-180'
                            : ''
                          : 'rotate-180'
                      "
                    />
                  </span>
                </span>
                <span class="fw-light">|</span>
              </span>
            </th>
            <th scope="col">
              <span class="d-flex justify-content-between">
                <span
                  class="fw-medium"
                  role="button"
                  id="totalQuestions"
                  (click)="handleSort($event)"
                  ><span>
                    <span>Total Questions</span>
                    <span>
                      <img
                        height="14px"
                        src="../../../../assets/images/sort.png"
                        alt=""
                        class="px-1"
                        [ngClass]="
                          getExamData.sortField == 'totalQuestions' && sort != 3
                            ? sort == 1
                              ? 'rotate-180'
                              : ''
                            : 'rotate-180'
                        "
                      />
                    </span> </span
                ></span>
                <span class="fw-light">|</span>
              </span>
            </th>
            <th scope="col">
              <span class="d-flex justify-content-between">
                <span class="fw-medium">Exam Status</span>
                <span class="fw-light">|</span>
              </span>
            </th>
            <th scope="col" colspan="2">
              <span class="d-flex justify-content-center">
                <span class="fw-medium">Action</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="examData && examData.length <= 0">
          <tr>
            <td class="text-center" colspan="4">No data found</td>
          </tr>
        </tbody>
        <tbody class="border" *ngFor="let exam of examData">
          <tr>
            <td class="pt-3 ps-4">{{ exam.title }}</td>
            <td class="pt-3">{{ exam.totalQuestions }}</td>
            <td class="pt-3">
              <span
                class="tag"
                [ngClass]="
                  exam.status == StatusType.Active ? ' tag-green' : ' tag-red'
                "
              >
                {{ exam.status }}
              </span>
            </td>
            <td class="text-center">
              <span>
                <a
                  class="btn btn-success rounded-1 shadow-sm text-center w-75"
                  *ngIf="exam.status == StatusType.InActive ? true : false"
                  (click)="onStart(+exam.id)"
                >
                  Start
                </a>
                <a
                  *ngIf="exam.status == StatusType.Active ? true : false"
                  class="btn btn-danger rounded-1 shadow-sm text-center w-75"
                  (click)="onStop(+exam.id)"
                  >Stop</a
                >
              </span>
            </td>
            <td class="action-btn-group text-center">
              <a
                class="btn text-light bg-success rounded-1 me-1"
                [routerLink]="['edit', +exam.id]"
                *ngIf="exam.status == StatusType.InActive ? true : false"
                ><i class="bi bi-pen-fill"></i
              ></a>
              <a
                class="btn text-light bg-danger rounded-1 ms-1"
                (click)="onDelete(+exam.id)"
                *ngIf="exam.status == StatusType.InActive ? true : false"
                ><i class="bi bi-trash-fill"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>

      <nav>
        <ul class="pagination float-end">
          <li class="page-item" [ngClass]="currentPage <= 0 ? 'disabled' : ''">
            <a class="page-link" (click)="onParamsChange(0)">&laquo;</a>
          </li>

          <li class="page-item" [ngClass]="currentPage <= 0 ? 'disabled' : ''">
            <a class="page-link" (click)="onParamsChange(currentPage - 1)"
              >&lsaquo;</a
            >
          </li>

          <li
            class="page-item"
            *ngFor="let item of [].constructor(totalPages); let i = index"
            [class.active]="i === currentPage"
          >
            <a class="page-link" (click)="onParamsChange(i)">{{ i + 1 }}</a>
          </li>

          <li
            [ngClass]="currentPage >= totalPages - 1 ? 'disabled' : ''"
            class="page-item"
          >
            <a class="page-link" (click)="onParamsChange(currentPage + 1)"
              >&rsaquo;</a
            >
          </li>
          <li
            [ngClass]="currentPage >= totalPages - 1 ? 'disabled' : ''"
            class="page-item"
          >
            <a class="page-link" (click)="onParamsChange(totalPages - 1)"
              >&raquo;</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
