<div class="card rounded-0 border-0">
  <div class="card-head">
    <div class="d-flex exams justify-content-between align-items-center p-3">
      <div class="title fs-5 fw-bold">Exams</div>
      <div id="addExam" class="btn btn-danger rounded-0">+ Add Exam</div>
    </div>
  </div>

  <hr class="p-0 m-0 opacity-25" />
  <div class="card-body z-0">
    <div class="input-container">
      <div class="align-items-center border col3 d-flex float-end rounded-1">
        <input id="" class="effect border-0" type="text" placeholder="Search" />
        <span class="focus-bg"></span>
        <i class="bi bi-search text-light bi bi-search px-3 py-2"></i>
      </div>
    </div>
    <div class="table"></div>
  </div>
</div>
