.small {
  font-size: 80%; /* text-align: center; */
}
.left {
  min-height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/background.jpeg");
  background-size: cover;
  object-fit: cover;
}
.sub-container .logo {
  width: 400px;
}
.copy {
  width: 80%;
}
.left .copy {
  color: #fff;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
}
.left p {
  font-weight: 400;
}
.right form {
  width: 80%;
  margin-top: 0.85rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}
.input-container.password {
  position: relative;
}
.input-container.password i {
  position: absolute;
  top: 50px;
  right: 18px;
  cursor: pointer;
}
.register {
  display: block;
  width: 100%;
  background: var(--primary-blue);
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}
.register:hover {
  background: #2c4893;
  cursor: pointer;
}

@media screen and (min-width: 968px) {
  .split-screen {
    flex-direction: row;
    min-height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 30%;
    height: auto;
  }
}

.google-login a {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.google-login img {
  margin-right: 8px; 
}