/* You can add global styles to this file, and also import other style files */

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #eeeeee; */
  overflow-x: hidden;
  background: #f1f5f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.card hr {
  opacity: 0.1 !important;
}
