/* You can add global styles to this file, and also import other style files */

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --badge-purple-bg: #9162c015;
  --badge-purple-fg: #9162c0;
  --badge-green-bg: #d1e3e5;
  --badge-green-fg: #449d5d;
  --badge-amber-bg: #d1772415;
  --badge-amber-fg: #d17724;
  --badge-blue-bg: #3b88e915;
  --badge-blue-fg: #3b88e9;
  --badge-red-bg: #efd9e6;
  --badge-red-fg: #eb5657;
}
body {
  /* background-color: #eeeeee; */
  overflow-x: hidden;
  background: #f1f5f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:focus {
  outline: none !important;
  /* border: none !important; */
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}
label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.card hr {
  opacity: 0.1 !important;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  font: 16px/24px "Montserrat", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 500;
}
::placeholder {
  font-weight: 400 !important;
  font-size: 14px;
}
.col3 {
  float: left;
  width: 27.33%;
  margin: 10px 0 0 0;
  position: relative;
}

.effect {
  border: 0;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
}
.effect ~ .focus-bg {
  position: absolute;
  left: 0;
  width: 0;
  height: 54%;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}
.effect:focus ~ .focus-bg {
  transition: 0.3s;
  width: 100%;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.checkbox-container {
  position: relative;
  padding-left: 2rem;
  user-select: none;
  margin: 1rem 0 0 1rem;
  cursor: pointer;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}
.checkmark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 7px;
  top: 3px;
  transform: rotate(45deg);
}
.tag {
  display: inline-block;
  width: 100px;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.tag.tag-purple {
  background: var(--badge-purple-bg);
  color: var(--badge-purple-fg);
}
.tag.tag-green {
  background: var(--badge-green-bg);
  color: var(--badge-green-fg);
}
.tag.tag-amber {
  background: var(--badge-amber-bg);
  color: var(--badge-amber-fg);
}
.tag.tag-blue {
  background: var(--badge-blue-bg);
  color: var(--badge-blue-fg);
}

.tag.tag-red {
  background: var(--badge-red-bg);
  color: var(--badge-red-fg);
}

.page-link {
  color: #002f4b;
}

.active > .page-link,
.page-link.active {
  background-color: #002f4b !important;
}